.back-link-box .list-back-link li a:hover,
.center-section .wrap-search-form,
.center-section .wrap-search-form .wrap-list-cate .list-cate li:not(.level-0):hover,
.coppy-right-box .coppy-right-text a:hover,
.header-nav-section li>a:hover,
.list-category .category-item a.active,
.product .product-info .product-name:hover span,
.product-name a:hover,
.product-style-2 .product-info .product-name:hover span,
.summary .checkout-info .link-to-shop:hover,
.vertical-list li a.active,
.widget-our-services .service div>i,
.wrap-breadcrumb ul a:hover,
.wrap-footer-item .wrap-hotline-footer .phone-number,
.wrap-iten-in-cart .products-cart .product-name a:hover,
.wrap-login-item .form-item input[type=checkbox]+span::after,
.wrap-nav.horizontal-nav .link-term:hover,
.wrap-product-detail .detail-info .quantity-input input,
.wrap-vertical-nav li a:hover {
    color: var(--primary-color)
}

.product .product-info .product-rating .count-review:hover,
.product-list-style .advance-info .stock-info.in-stock p b,
.product-list-style .advance-info .wrap-btn .btn:hover,
.product-list-style .advance-info .wrap-btn .btn:hover::before,
.widget a:hover,
.widget.filter-widget .vertical-list li a::after,
.wrap-login-item .form-item .link-function:hover {
    color: var(--primary-color) !important
}

.aboutus-info.style-small-left .list-showups label input[type=radio]:checked+span.check-box,
.btn.filter-submit,
.checkout-info .btn-checkout,
.choose-payment-methods .payment-method input[type=radio]:checked+span::before,
.primary .menu-item.home-icon,
.product-style-2 .product-thumnail .wrap-btn .function-link:hover,
.summary-item .btn,
.widget.filter-widget .inline-round li a.active,
.widget.filter-widget .inline-round li a:hover,
.wrap-banner .banner-link,
.wrap-contacts .contact-box input[type=submit],
.wrap-footer-item .social-network ul li a:hover,
.wrap-icon-box .icon-box-item i,
.wrap-login-item .form-item .btn,
.wrap-main-slide .slide-1 .btn-link,
.wrap-main-slide .slide-3 .btn-link,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-product-detail .advance-info .tab-control a.active,
.wrap-product-detail .detail-info .quantity-input .btn:hover,
.wrap-product-detail .detail-info .wrap-butons .add-to-cart:hover {
    background: var(--primary-color)
}

.detail-media .flex-control-nav .owl-nav button:hover,
.has-child-cate .toggle-control:hover::after,
.has-child-cate .toggle-control:hover::before,
.product-list-style .advance-info .add-to-cart:hover,
.widget.filter-widget .vertical-list li a.btn-control:hover::before,
.wrap-iten-in-cart .products-cart .quantity .quantity-input .btn:hover,
.wrap-pagination-info .page-numbers li .page-number-item:hover {
    background: var(--primary-color) !important
}

.choose-payment-methods .payment-method input[type=radio]:checked+span::before,
.flex-control-thumbs img.flex-active,
.product-widget-style .thumbnnail a:hover img,
.wrap-demo-item-1:hover img,
.wrap-product-detail .advance-info .tab-control a.active,
.wrap-product-detail .detail-info .quantity-input .btn:hover {
    border-color: var(--primary-color)
}

.aboutus-info.style-small-left .list-showups label input[type=radio]:checked+span.check-box,
.product-list-style .advance-info .add-to-cart:hover,
.widget.filter-widget .inline-round li a.active,
.widget.filter-widget .inline-round li a:hover,
.widget.widget-tag-clouds ul li a:hover,
.wrap-pagination-info .page-numbers li .page-number-item.current,
.wrap-pagination-info .page-numbers li .page-number-item:hover {
    border-color: #ff3c45 !important
}